body {text-align: center;}
.left{text-align: left;}
.welcome {font-size: 60px; margin-bottom: 50px;}

.hangoutSubmit {background-color: blue;}

.scheduleDates {height: 30px; background-color: #896ce1; font-weight: bold; color: white;}

.inlineBlock {display: inline-block;}

.availableUsers {font-weight: bold; margin-left: 40px;}

.marginTop {margin-top: 20px;}

.floatRight {float: right;}


.purple {color: #896ce1;}

.purpleBG {background-color: #896ce1; color: white; margin-top: 20px;}

.gray {color: #545454; font-weight: bold;}

.oswald {font-family: Oswald, Helvetica, sans-serif;}

.availability {height: 40px;}

.createhangout {width: 400px; height: 40px; margin-top: 20px; background-color: #ff6b6b; color: white;}

.hangout {width: 200px; height: 100px; margin-right: 20px }

.verticallyAlign {line-height: 85px;}

.centerInput {text-align: center; line-height: 30px;}

.pinkButton {background-color: #ff6b6b; color: white;}

#deleteButton {margin-top: 30px; background-image: url('./partials/grayDeleteButton.jpg'); height: 30px; width: 30px;}
#deleteButton:hover {background-image: url('./partials/deleteButton.jpg');}