<h1 ng-init="grabInfo()">Hello World</h1>



<div ng-repeat="day in days | date">
	<div style="display: inline=block; background-color: #c0feff;">{{ day.moment | amDateFormat:'dddd, MMMM Do YYYY' }}</div>
	<div style="display: inline-block;">
		<!-- <button ng-click="available=true" class="btn btn-info btn-sm">
			Toggle Availability
		</button> -->
<!-- 		<div ng-hide="available" style="background-color: red"></div> -->
<label><input ng-model="day.availability" type="checkbox">Available?</label>
	</div>

</div>
<button ng-click="save()">Save</button>